/*! Reflex v1.5.0 - https://github.com/leejordan/reflex */
/*
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * To disable legacy support and build a flexbox only grid, set the variable legacy-support to false
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 *
 */

 // hyphens are replaced to underscores in classNames in order to easily use them with css-modules

.grid {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  letter-spacing: -0.31em !important;
  *letter-spacing: normal !important;
  word-spacing: -0.43em !important;
  list-style-type: none;
}
.grid:before,
.grid:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  max-width: 100%;
}
.grid *:before,
.grid *:after {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}
.grid .grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid *:before,
.grid *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*="grid__col_"] {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 1em 1em;
}
.grid__cell {
  position: relative;
  display: block;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
:-ms-fullscreen .grid__cell,
:root .grid__cell {
  width: 100%;
}
.grid__col_12 {
  width: 100%;
  *width: 99.9%;
}
.grid__col_11 {
  width: 91.66666667%;
  *width: 91.56666667%;
}
.grid__col_10 {
  width: 83.33333333%;
  *width: 83.23333333%;
}
.grid__col_9 {
  width: 75%;
  *width: 74.9%;
}
.grid__col_8 {
  width: 66.66666667%;
  *width: 66.56666667%;
}
.grid__col_7 {
  width: 58.33333333%;
  *width: 58.23333333%;
}
.grid__col_6 {
  width: 50%;
  *width: 49.9%;
}
.grid__col_5 {
  width: 41.66666667%;
  *width: 41.56666667%;
}
.grid__col_4 {
  width: 33.33333333%;
  *width: 33.23333333%;
}
.grid__col_3 {
  width: 25%;
  *width: 24.9%;
}
.grid__col_2 {
  width: 16.66666667%;
  *width: 16.56666667%;
}
.grid__col_1 {
  width: 8.33333333%;
  *width: 8.23333333%;
}
@media (min-width: 480px) {
  .grid__col_xs_12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col_xs_11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .grid__col_xs_10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .grid__col_xs_9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col_xs_8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .grid__col_xs_7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .grid__col_xs_6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col_xs_5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .grid__col_xs_4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .grid__col_xs_3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col_xs_2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .grid__col_xs_1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 768px) {
  .grid__col_sm_12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col_sm_11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .grid__col_sm_10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .grid__col_sm_9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col_sm_8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .grid__col_sm_7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .grid__col_sm_6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col_sm_5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .grid__col_sm_4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .grid__col_sm_3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col_sm_2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .grid__col_sm_1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 992px) {
  .grid__col_md_12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col_md_11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .grid__col_md_10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .grid__col_md_9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col_md_8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .grid__col_md_7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .grid__col_md_6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col_md_5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .grid__col_md_4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .grid__col_md_3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col_md_2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .grid__col_md_1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 1200px) {
  .grid__col_lg_12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col_lg_11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .grid__col_lg_10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .grid__col_lg_9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col_lg_8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .grid__col_lg_7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .grid__col_lg_6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col_lg_5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .grid__col_lg_4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .grid__col_lg_3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col_lg_2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .grid__col_lg_1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
@media (min-width: 1600px) {
  .grid__col_xlg_12 {
    width: 100%;
    *width: 99.9%;
  }
  .grid__col_xlg_11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .grid__col_xlg_10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .grid__col_xlg_9 {
    width: 75%;
    *width: 74.9%;
  }
  .grid__col_xlg_8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .grid__col_xlg_7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .grid__col_xlg_6 {
    width: 50%;
    *width: 49.9%;
  }
  .grid__col_xlg_5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .grid__col_xlg_4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .grid__col_xlg_3 {
    width: 25%;
    *width: 24.9%;
  }
  .grid__col_xlg_2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .grid__col_xlg_1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}
.grid__col_auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto !important;
  max-width: 100%;
}
@media (min-width: 480px) {
  .grid__col_xs_auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .grid__col_sm_auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .grid__col_md_auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .grid__col_lg_auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
@media (min-width: 1600px) {
  .grid__col_xlg_auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%;
  }
}
.grid_order_12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.grid_order_11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.grid_order_10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.grid_order_9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.grid_order_8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.grid_order_7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.grid_order_6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.grid_order_5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.grid_order_4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.grid_order_3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.grid_order_2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.grid_order_1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.grid_order_0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}
@media only screen and (min-width: 480px) {
  .grid_order_12_xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .grid_order_11_xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .grid_order_10_xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .grid_order_9_xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .grid_order_8_xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .grid_order_7_xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .grid_order_6_xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .grid_order_5_xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .grid_order_4_xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .grid_order_3_xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .grid_order_2_xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .grid_order_1_xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .grid_order_0_xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 768px) {
  .grid_order_12_sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .grid_order_11_sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .grid_order_10_sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .grid_order_9_sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .grid_order_8_sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .grid_order_7_sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .grid_order_6_sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .grid_order_5_sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .grid_order_4_sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .grid_order_3_sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .grid_order_2_sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .grid_order_1_sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .grid_order_0_sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 992px) {
  .grid_order_12_md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .grid_order_11_md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .grid_order_10_md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .grid_order_9_md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .grid_order_8_md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .grid_order_7_md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .grid_order_6_md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .grid_order_5_md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .grid_order_4_md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .grid_order_3_md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .grid_order_2_md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .grid_order_1_md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .grid_order_0_md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .grid_order_12_lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .grid_order_11_lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .grid_order_10_lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .grid_order_9_lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .grid_order_8_lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .grid_order_7_lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .grid_order_6_lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .grid_order_5_lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .grid_order_4_lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .grid_order_3_lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .grid_order_2_lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .grid_order_1_lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .grid_order_0_lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .grid_order_12_xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .grid_order_11_xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .grid_order_10_xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .grid_order_9_xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .grid_order_8_xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .grid_order_7_xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .grid_order_6_xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .grid_order_5_xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .grid_order_4_xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .grid_order_3_xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .grid_order_2_xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .grid_order_1_xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .grid_order_0_xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}
.grid_bleed [class*="grid__col_"] {
  padding: 0;
}
.grid_wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid_no_wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.grid_wrap_reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.grid_direction_row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.grid_direction_row_reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.grid_direction_column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.grid_direction_column_reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.grid_align_start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.grid_align_end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.grid_align_end [class*="grid__col_"] {
  vertical-align: bottom;
}
.grid_align_center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.grid_align_center [class*="grid__col_"] {
  vertical-align: middle;
}
.grid_align_baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.grid_align_baseline [class*="grid__col_"] {
  vertical-align: baseline;
}
.grid_align_content_start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.grid_align_content_end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.grid_align_content_end [class*="grid__col_"] {
  vertical-align: bottom;
}
.grid_align_content_center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.grid_align_content_space_between {
  -ms-flex-line-pack: space-between;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.grid_align_content_space_around {
  -ms-flex-line-pack: space-around;
  -webkit-align-content: space-around;
  align-content: space-around;
}
.grid_align_self_stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}
.grid_align_self_start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.grid_align_self_end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}
.grid_align_self_center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle;
}
.grid_align_self_baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline;
}
.grid_justify_start {
  text-align: left;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.grid_justify_end {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.grid_justify_end .grid__cell,
.grid_justify_end [class*="grid__col_"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
.grid_justify_center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.grid_justify_center .grid__cell,
.grid_justify_center [class*="grid__col_"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
.grid_justify_space_between {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.grid_justify_space_between .grid__cell,
.grid_justify_space_between [class*="grid__col_"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
.grid_justify_space_around {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.grid_justify_space_around .grid__cell,
.grid_justify_space_around [class*="grid__col_"] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial;
}
.grid__col_bleed {
  padding: 0;
}
.grid__col_bleed_x {
  padding: 1em 0;
}
.grid__col_bleed_y {
  padding: 0 1em;
}
.grid__col_bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 50%;
}
.grid__cell_padding_sm {
  padding: 0.5em;
}
.grid__cell_padding_md {
  padding: 1em;
}
.grid__cell_padding_lg {
  padding: 2em;
}
.grid__cell_img {
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.grid__cell_footer {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  width: 100%;
  margin-top: auto;
}
@media (max-width: 479px) {
  .hidden_xxs {
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hidden_xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden_sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden_md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden_lg {
    display: none !important;
  }
}
