
@import '~kununu-theme/scss/base/variables';

.cityRow {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid $gray-base-10;

  &__city,
  &__autocomplete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding: 0 20px;
  }

  &__cityName {
    font-size: 20px;
    margin: 0;
  }

  &__autocomplete {
    align-items: stretch;
    background: $gray-base-03;
  }

}
