
@import '../style/kununu-theme/scss/base/variables.scss';

.footer {
  background: $gray-base;
  color: $gray-base-60;
}

.footerTop {
  background: $white;
}

.textXl {
  font-size: 22px;
  line-height: 70px;
}

.textBold {
  font-weight: 700;
}

.circleMdDouble .circleIcon {
  line-height: 70px;
  font-size: 22px;
  margin: 2px;
}

.circleMdDouble {
  width: 70px;
  height: 70px;
  display: inline-flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 22px;
  margin: 0 10px;

  &:focus,
  &:hover {
    text-decoration: inherit;
    color: $white;
  }
}

.margin-right-quarter {
  margin-right: 10px;
}

.linkGoogle {
  background: $red;
}

.linkGithub {
  background: $gray;
}

.linkLinkedin {
  background: $blue;
}

.footerNav {
  padding: 0;
  margin: 0;

  li {
    display: block;
    padding: 0;
    margin: 0;

    a {
      padding: 4px 0;
      display: inline-block;
      color: $gray-base-60;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

.footerNavbar {
  border-top: 1px solid $gray-base-60;
  margin: 30px 0 0;
  padding-top: 20px;
}

